{% extends 'base.html.twig'%}

{% block title %} Vos réservations {% endblock %}


{% block body %}
<div class="container">
 <h1 class="my-5">Mes réservations</h1>
 <div class="alert alert-info mt-3">
 <p>Retrouve ci-dessous toutes vos réservations passées et à venir</p>
 
 </div>

   {% for booking in app.user.bookings %}

    <div class="row mt-5">
    
     <div class="col-lg-4">
     <img src="{{booking.ad.coverImage}}" alt="imag" class="img-fluid">

      <div class="mt-3">

      {% set comment= booking.ad.getCommentFromAuthor(app.user) %}

      {% if comment is not null %}
         <strong>Noté donnée : </strong>
         {% include 'partials/rating.html.twig' with {'rating':comment.rating} %}
      {% else %}
        Vous n'avez pas encore donné de note.
      {% endif %}
      
      </div>
     </div>

     <div class="col-lg-8">
      <h4>{{booking.ad.title}}</h4>
       <p>
       
         Réservation <strong>n° {{booking.id}} </strong><br>
         Du {{booking.startDate | date('d/m/Y')}} au 
         {{booking.endTime| date('d/m/Y')}} ({{booking.amount}} &euro;)
       </p>

       <a href="{{path('booking_show',{id:booking.id})}}" class="btn btn-info">Plus d'information</a>
     </div>
    
    </div>

   {% endfor %}
 </div>
{% endblock %}